<div class="row">
    <div class="col-md-4">
        <h1>Đăng kí</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <input type=hidden name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-success">Đăng kí</button>
        </form>
        
    </div>
</div>