<div class="row">
    {{#each products}}
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{imagePath}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <div class="clearfix">
                    <div class="price float-left display-4">${{price}}</div>
                    <a href="#" class="btn btn-primary float-right">Buy</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>